@charset "utf-8";
@import "lib/common";

/*travel-list start*/
	/*common*/
/*travel-list end*/
/*filter start*/
.tags-container{
	margin-bottom: 4rem;
}
.filter{
	position: fixed;
    top: 0;
    height: 0;
    overflow: auto;
    background: #fff;
	.head-title,.filter-tag{
		line-height: 2.5rem;
	    background: $deep-blue;
	    color: #fff;
	}
	.head-title{ 
		position: relative;
	    text-align: center;
	    font-size: 0.75rem;
	    &:before{
	        content: '';
	        background: url('../images/icon/icon-close-white.png') no-repeat;
	        background-size: 100%;
		    position: absolute;
		    top: 33%;
		    left: 0.75rem;
		    width: 0.6rem;
		    height: 0.6rem;
	    }
	}
	.filter-tag{
		padding: 0 0.75rem;
		font-size: $textsize003;
	}
	.selected{
		overflow: hidden;
	    line-height: 2rem;
	    border-bottom: solid 1px #f0f0f0;
	    padding: 0 0.75rem;
	    margin-bottom: 0.75rem;
		font-size: 0.7rem;
		.selected-theme{
			float: left;
			color: $deep-blue;
		}
		.selected-tag{
			position: relative;
			float: right;
			padding-right: 0.75rem;
			a{
				color: #666;
			}
			&:after{
		        content: '';
		        background: url('../images/icon/icon-right-more.png') no-repeat;
		        background-size: 100%;
			    position: absolute;
			    top: 33%;
			    right: 0;
			    width: 0.5rem;
			    height: 0.8rem;
		    }
		}
	}
	.total{
		position: fixed;
		bottom: 0.75rem;
		left: 4%;
		width: 92%;
		line-height: 2rem;
		border-radius: 0.1rem;
		background: #2878db;
		font-size: 0.8rem;
		text-align: center;
		color: #f8f8f8;
		&:after{
	        content: '';
	        background: url('../images/icon/icon-right-white.png') no-repeat;
	        background-size: 100%;
		    position: absolute;
		    top: 33%;
		    right: 5rem;
		    width: 0.5rem;
		    height: 0.8rem;
	    }
	}
	.tags-box{
		overflow: hidden;
		padding: 0 0.75rem 0.75rem;
		.tags-title{
			@include tag-tit;
		}
		.tags-list{
			width: 100%;
			.tag{
				float: left;
			    margin: 0.5rem 0.5rem 0 0;
			    @include tag;
			    a{
			    	@include tag;
			    }
			}
			.active-tag{
				@include active-tag;
			}
		}
	}
}
/*filter end*/
