@charset "utf-8";
@import "lib/common";

/*travel-list start*/
	/*common*/
/*travel-list end*/
/*filter start*/
.tags-container{
	overflow: auto;
    height: 80%;
    padding-bottom: 7.5rem;
}
.filter{
	position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: $bgcolor40;
	.head-title,.filter-tag{
		line-height: 2.5rem;
	    background: $deep-blue;
	    color: $textcolor008;
	}
	.head-title{ 
		position: relative;
	    text-align: center;
	    font-size: 0.75rem;
	    &:before{
	        content: '';
	        background: url('../images/icon/icon-close-white.png') no-repeat;
	        background-size: 100%;
		    position: absolute;
		    top: 33%;
		    left: 0.75rem;
		    width: 0.6rem;
		    height: 0.6rem;
	    }
	}
	.filter-tag{
		padding: 0 0.75rem;
		font-size: $textsize003;
	}
	.selected{
		overflow: hidden;
	    line-height: 2.5rem;
	    border-bottom: solid 1px $bgcolor33;
	    padding: 0 0.75rem;
	    margin-bottom: 0.75rem;
		font-size: 0.7rem;
		.selected-theme{
			float: left;
			color: $deep-blue;
		}
		.selected-tag{
			position: relative;
			float: right;
			width:80%;
			padding-right: 0.75rem;
			text-align: right;
			a{
				display: inline-block;
				width: 100%;
				color: $textcolor004;
			}
			&:after{
		        content: '';
		        background: url('../images/icon/icon-right-more.png') no-repeat;
		        background-size: 100%;
			    position: absolute;
			    top: 33%;
			    right: 0;
			    width: 0.5rem;
			    height: 0.8rem;
		    }
		}
	}
	.total{
		position: fixed;
		bottom: 0.75rem;
		left: 4%;
		width: 92%;
		line-height: 2.25rem;
		border-radius: 0.1rem;
		background: #2878db;
		font-size: 0.8rem;
		text-align: center;
		color: $bgcolor01;
		&:after{
	        content: '';
	        background: url('../images/icon/icon-right-white.png') no-repeat;
	        background-size: 100%;
		    position: absolute;
		    top: 33%;
		    right: 5rem;
		    width: 0.5rem;
		    height: 0.8rem;
	    }
	}
	.tags-box{
		.tags-list{
			.tag{
				border: solid 0.5px $bgcolor33;
				background: $bgcolor01;
			    a{
					background: $bgcolor01;
			    }
			}
		}
	}
	// .tags-box{
	// 	overflow: hidden;
	// 	padding: 0 0.75rem 0.75rem;
	// 	&:last-child{
	// 		margin-bottom: 7.5rem;
	// 	}
	// 	.tags-title{
	// 		@include tag-tit;
	// 	}
	// 	.tags-list{
	// 		width: 100%;
	// 		max-width: initial;
	// 		height: initial;
	// 		.tag{
	// 			position: relative;
	// 			float: left;
	// 			max-width: initial;
	// 			height: initial;
	// 			line-height: initial;
	// 		    padding: 0.4rem 0.5rem;
	// 		    margin: 0.75rem 0.5rem 0 0;
	// 			border: solid 0.5px #dddddd;
	// 			border-radius: 0.2rem;
	// 			background: #fff;
	// 			font-size: $textsize002;
	// 			color: $textcolor004;
	// 		    a{
	// 		    	@include tag;
	// 		    }
	// 		}
	// 		.active-tag{
	// 			@include active-tag;
	// 			&:before{
	// 				content: '';
	// 		        background: #006aff;
	// 		        opacity: 0.08;
	// 		        position: absolute;
	// 		        top: 0;
	// 			    right: 0;
	// 			    width: 100%;
	// 			    height: 100%;
	// 			}
	// 		}
	// 	}
	// }
}
/*filter end*/

/*night*/
.night{
	.filter{
	    background: $bgcolor40-night;
		// .head-title,.filter-tag{
		//     color: $textcolor008-night;
		// }
		.selected{
		    border-bottom: solid 1px $bgcolor33-night;
		}
		// .total{
		// 	color: $bgcolor01-night;
		// }
		.tags-box{
			.tags-list{
				.tag{
					border: solid 0.5px $bgcolor33-night;
					background: $bgcolor01-night;
				    a{
						background: $bgcolor01-night;
				    }
				}
				.active-tag{
					@include active-tag-night;
				}
			}
		}
	}
}
/*filter end*/

