@charset "UTF-8";
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight: transparent;
  -webkit-text-size-adjust: none;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  font-family: "Microsoft YaHei", Arial, "Hiragino Sans GB W3", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif; }

/*body {font-size: 0.75em;}*/
label {
  cursor: pointer; }

a:link, a:visited {
  text-decoration: none; }

input:focus {
  outline: none; }

input, button, select, textarea {
  outline: none;
  /*-webkit-appearance:none;*/
  /*强制去除表单自带的样式*/ }

textarea {
  resize: none;
  /*-webkit-appearance:none;*/
  /*强制去除textarea自带的样式*/ }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

/*利用阴影来填充掉input自动填充色*/
textarea, input, select {
  background: none;
  border: none;
  margin: 0;
  padding: 0; }

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
  margin: 0;
  padding: 0; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block; }

/*html5设置*/
h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub {
  font-size: 1em; }

body, input, button, select, textarea, sub {
  font-family: Arial, sans-serif; }

em, cite, address, optgroup {
  font-style: normal; }

kbd, samp, code {
  font-family: monospace; }

img, input, button, select, textarea {
  vertical-align: middle;
  outline: none; }

ul, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

abbr, acronym {
  cursor: help;
  border-bottom: 1px dotted #000; }

table {
  width: 100%;
  border-spacing: 0;
  border: 0; }

table th, table td {
  border: 0; }

legend, hr {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/*legend,hr,caption {visibility: hidden;font-size: 0;width: 0;height: 0;line-height: 0;}*/
.hidden {
  display: none; }

.clearfix:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both; }

a {
  outline: none; }

/*night*/
/*day*/
/*night*/
/*back*/
/*bac night*/
.wrap {
  width: 100%;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.overflow {
  overflow: hidden; }

.hide {
  display: none; }

.tags-list {
  float: left;
  overflow: hidden;
  max-width: 9rem;
  height: 0.9rem; }
  .tags-list li {
    overflow: hidden;
    float: left;
    max-width: 0.9rem;
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0.05rem;
    margin-right: 0.5rem;
    border-radius: 0.1rem;
    text-align: center;
    font-size: 0.45rem;
    color: #4680d1; }

.index .themes-box .tags-box, .article-list .filter .tags-box {
  overflow: hidden;
  padding: 0 0.75rem 0.75rem; }
  .index .themes-box .tags-box:last-child, .article-list .filter .tags-box:last-child {
    margin-bottom: 7.5rem; }
  .index .themes-box .tags-box .tags-title, .article-list .filter .tags-box .tags-title {
    font-size: 0.7rem;
    color: #333333; }
  .index .themes-box .tags-box .tags-list, .article-list .filter .tags-box .tags-list {
    width: 100%;
    max-width: initial;
    height: initial; }
    .index .themes-box .tags-box .tags-list .tag, .article-list .filter .tags-box .tags-list .tag {
      position: relative;
      float: left;
      max-width: initial;
      height: 0.95rem;
      line-height: 1rem;
      padding: 0.4rem 0.5rem;
      margin: 0.75rem 0.5rem 0 0;
      border: solid 0.5px #dddddd;
      border-radius: 0.2rem;
      background: #f8f8f8;
      font-size: 0.65rem;
      color: #666666; }
      .index .themes-box .tags-box .tags-list .tag a, .article-list .filter .tags-box .tags-list .tag a {
        padding: 0.2rem 0.4rem;
        border-radius: 0.1rem;
        background: #f8f8f8;
        font-size: 0.65rem;
        color: #666666; }
    .index .themes-box .tags-box .tags-list .active-tag, .article-list .filter .tags-box .tags-list .active-tag {
      border: solid 0.5px #2878db;
      color: #4680d1; }
      .index .themes-box .tags-box .tags-list .active-tag:before, .article-list .filter .tags-box .tags-list .active-tag:before {
        content: '';
        background: #006aff;
        opacity: 0.08;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; }

.current-tag {
  line-height: 2.5rem;
  padding: 0 0.75rem;
  background: #4680d1;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 200; }
  .current-tag:after {
    content: '';
    background: url("../images/icon/icon-down.png") center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 3.5%;
    right: 0.75rem;
    width: 0.7rem;
    height: 0.7rem; }

.best-time-num, .travel-time-num {
  position: relative;
  overflow: hidden;
  font-size: 0.6rem;
  color: #999999; }
  .best-time-num .best-time, .best-time-num .travel-time, .travel-time-num .best-time, .travel-time-num .travel-time {
    float: left;
    margin: 0.1rem 0.5rem 0 0; }
  .best-time-num .best-num, .best-time-num .travel-num, .travel-time-num .best-num, .travel-time-num .travel-num {
    position: absolute;
    right: 0; }
  .best-time-num li, .travel-time-num li {
    border: solid 0.5px #2878db;
    color: #4680d1; }

.best-time-num {
  padding: 0.5rem 0; }
  .best-time-num .tags-list li {
    max-width: initial; }

.travel-time-num {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 0.61rem; }
  .travel-time-num .tags-list {
    max-width: 4.6rem; }
    .travel-time-num .tags-list li {
      max-width: 1.8rem; }

/*travel-list start*/
.travel-list {
  background: #f8f8f8; }
  .travel-list .travel-item {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #dddddd; }
    .travel-list .travel-item:last-child {
      border: 0; }
    .travel-list .travel-item a {
      color: #666666; }
      .travel-list .travel-item a:visited {
        color: #999999; }
  .travel-list .travel-main {
    position: relative;
    overflow: hidden; }
    .travel-list .travel-main .travel-img {
      overflow: hidden;
      float: left;
      width: 4.5rem;
      height: 3.4rem;
      margin-right: 0.5rem; }
      .travel-list .travel-main .travel-img img {
        width: 100%; }
    .travel-list .travel-main .travel-title, .travel-list .travel-main .travel-time-num {
      float: left;
      width: 12.2rem; }
    .travel-list .travel-main .travel-title {
      line-height: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 0.85rem;
      color: #000000; }
      .travel-list .travel-main .travel-title:visited {
        color: #999999; }

@media screen and (max-width: 320px) {
  .travel-time-num .tags-list {
    max-width: 4.6rem; }
    .travel-time-num .tags-list li {
      max-width: 1.5rem; } }

@media screen and (min-width: 375px) and (max-width: 435px) {
  .travel-time-num .tags-list {
    max-width: 4.8rem; }
    .travel-time-num .tags-list li {
      max-width: 1.9rem; } }

/*travel-list end*/
/*night start*/
.night .best-time-num li, .night .travel-time-num li {
  border: solid 0.5px #2878db;
  background: #4680d1;
  opacity: 1;
  color: #ffffff; }

.night .themes-box .tags-box .tags-title, .night .filter .tags-box .tags-title {
  font-size: 0.7rem;
  color: #848484; }

.night .themes-box .tags-box .tags-list .active-tag, .night .filter .tags-box .tags-list .active-tag {
  border: solid 0.5px #2878db;
  background: #4680d1;
  opacity: 1;
  color: #ffffff; }

.night .travel-list {
  background: #2f2f2f; }
  .night .travel-list .travel-item {
    border-bottom: 1px solid #252525; }
  .night .travel-list .travel-main .travel-title a:visited {
    color: #555555; }

/*night end*/
.wrap {
  overflow: hidden;
  background: #f8f8f8;
  /*opinion start*/
  /*opinion end*/
  /*slider start*/
  /*slider end*/
  /*choice-theme start*/
  /*choice-theme end*/
  /*recommend start*/
  /*recommend end*/
  /*best-travel start*/
  /*best-travel end*/
  /*travel-list start*/
  /*common*/
  /*travel-list end*/
  /*themes start*/
  /*themes end*/
  /*edit-travel start*/
  /*edit-travel end*/ }
  .wrap .opinion {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0.5rem 0.75rem;
    padding: 0 0.5rem 0 1.5rem;
    height: 1.4rem;
    line-height: 1.4rem;
    border: solid 1px #dddddd;
    border-radius: 0.8rem;
    background: #f8f8f8;
    color: #cccccc;
    font-size: 0.65rem; }
    .wrap .opinion:before {
      content: '';
      background: url("../images/icon/icon-opinion.png") center no-repeat;
      background-size: 100%;
      position: absolute;
      top: 0.3rem;
      left: 0.5rem;
      width: 0.7rem;
      height: 0.7rem; }
  .wrap .focus {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
    .wrap .focus .focus-mask {
      position: absolute;
      bottom: 0;
      height: 2rem;
      width: 100%;
      z-index: 99;
      opacity: 0.7;
      background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #333 100%);
      background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #333 100%);
      background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #333 100%); }
    .wrap .focus .hd {
      width: 100%;
      height: 11px;
      position: absolute;
      z-index: 1;
      bottom: 5px;
      text-align: center; }
      .wrap .focus .hd ul {
        float: right;
        display: inline-block;
        height: 5px;
        padding: 3px 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 0;
        vertical-align: top; }
      .wrap .focus .hd li {
        display: inline-block;
        width: 0.2rem;
        height: 0.2rem;
        background: #6a6c71;
        margin: 0 0.125rem;
        vertical-align: top;
        overflow: hidden; }
      .wrap .focus .hd .on {
        width: 0.25rem;
        height: 0.25rem;
        margin-top: -0.05rem;
        background: #f8f8f8; }
    .wrap .focus .bd {
      position: relative;
      z-index: 0;
      margin-top: -1.2rem; }
      .wrap .focus .bd li img {
        width: 100%;
        background: url(../images/load/640_480load.png) center center no-repeat; }
      .wrap .focus .bd li a {
        -webkit-tap-highlight-color: transparent; }
  .wrap .themes {
    overflow: hidden;
    padding-bottom: 0.75rem;
    background: #f8f8f8;
    font-size: 0.6rem;
    color: #666666; }
    .wrap .themes .themes-item {
      float: left;
      width: 16%;
      margin: 0.75rem 2%;
      margin-bottom: 0;
      text-align: center; }
      .wrap .themes .themes-item:nth-child(1) em:before {
        content: '';
        background: url("../images/icon/1.png") center no-repeat;
        background-size: 45%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item:nth-child(2) em:before {
        content: '';
        background: url("../images/icon/2.png") center no-repeat;
        background-size: 45%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item:nth-child(3) em:before {
        content: '';
        background: url("../images/icon/3.png") center no-repeat;
        background-size: 45%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item:nth-child(4) em:before {
        content: '';
        background: url("../images/icon/4.png") center no-repeat;
        background-size: 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item:nth-child(5) em:before {
        content: '';
        background: url("../images/icon/5.png") center no-repeat;
        background-size: 45%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item:nth-child(6) em:before {
        content: '';
        background: url("../images/icon/6.png") center no-repeat;
        background-size: 32%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item:nth-child(7) em:before {
        content: '';
        background: url("../images/icon/7.png") center no-repeat;
        background-size: 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item:nth-child(8) em:before {
        content: '';
        background: url("../images/icon/8.png") center no-repeat;
        background-size: 60%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item:nth-child(9) em:before {
        content: '';
        background: url("../images/icon/9.png") center no-repeat;
        background-size: 55%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item:nth-child(10) em:before {
        content: '';
        background: url("../images/icon/10@2x.png") center no-repeat;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 2.5rem; }
      .wrap .themes .themes-item a {
        color: #666666; }
      .wrap .themes .themes-item em {
        position: relative;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        border-radius: 50%; }
      .wrap .themes .themes-item .light-blue {
        background-color: #1ab2ea; }
      .wrap .themes .themes-item .orange {
        background-color: #ffb523; }
      .wrap .themes .themes-item .green {
        background-color: #45c186; }
      .wrap .themes .themes-item .red {
        background-color: #ff545a; }
      .wrap .themes .themes-item .deep-blue {
        background-color: #4680d1; }
  .wrap .recommend {
    overflow: hidden;
    background: #e4e4e4;
    padding: 4%; }
    .wrap .recommend li {
      position: relative;
      float: left;
      overflow: hidden;
      width: 48%;
      height: 5rem; }
      .wrap .recommend li:nth-child(even) {
        float: right; }
      .wrap .recommend li:nth-child(1), .wrap .recommend li:nth-child(2) {
        margin-bottom: 4%; }
      .wrap .recommend li a {
        color: #ffffff; }
      .wrap .recommend li img {
        width: 100%; }
      .wrap .recommend li .bac {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1rem;
        background: #000;
        opacity: 0.7; }
      .wrap .recommend li .recommend-tit {
        position: absolute;
        bottom: 0;
        z-index: 99;
        width: 100%;
        line-height: 1rem;
        font-size: 0.65rem;
        text-align: center; }
  .wrap .best-travel {
    overflow: hidden;
    padding-bottom: 0.5rem;
    background: #e4e4e4; }
    .wrap .best-travel .best-item {
      padding: 0 0.75rem 0rem;
      border-bottom: solid 1px #dddddd;
      background: #f8f8f8; }
      .wrap .best-travel .best-item a {
        color: #000000; }
        .wrap .best-travel .best-item a:visited {
          color: #999999; }
    .wrap .best-travel .best-main .best-img img {
      overflow: hidden;
      width: 100%;
      height: 9.7rem; }
    .wrap .best-travel .best-main .best-title {
      line-height: 1.2rem;
      padding: 0.75rem 0;
      font-size: 0.85rem;
      color: #000000; }
      .wrap .best-travel .best-main .best-title:visited {
        color: #999999; }
  .wrap .themes-box {
    overflow: auto;
    position: fixed;
    bottom: -100%;
    z-index: 999;
    width: 100%;
    background: #f8f8f8; }
    .wrap .themes-box .head-title {
      position: relative;
      height: 2.5rem;
      line-height: 2.5rem;
      padding: 0 0.75rem;
      font-size: 0.8rem;
      color: #666666;
      text-align: center;
      border-bottom: solid 1px #dddddd; }
      .wrap .themes-box .head-title:before {
        content: '';
        background: url("../images/icon/icon-close-gray.png") no-repeat;
        background-size: 100%;
        position: absolute;
        top: 33%;
        left: 0.75rem;
        width: 0.6rem;
        height: 0.6rem; }
    .wrap .themes-box .title {
      font-size: 0.7rem;
      color: #333333; }
    .wrap .themes-box .tags-usual-box {
      overflow: auto;
      font-size: 0.8rem;
      padding: 0.5rem 0.75rem 0.5rem;
      border-bottom: solid 1px #dddddd; }
      .wrap .themes-box .tags-usual-box .common-tags, .wrap .themes-box .tags-usual-box li {
        float: left; }
      .wrap .themes-box .tags-usual-box .tags-usual-con {
        line-height: 2rem; }
      .wrap .themes-box .tags-usual-box .common-tags li {
        position: relative;
        float: left;
        max-width: initial;
        height: initial;
        line-height: initial;
        padding: 0.4rem 0.5rem;
        margin: 0 0.5rem 0.75rem 0;
        border: solid 0.5px #dddddd;
        border-radius: 0.2rem;
        background: #ffffff;
        font-size: 0.65rem;
        color: #666666; }
    .wrap .themes-box .current-tag {
      width: 83%;
      margin: 1rem auto;
      line-height: 2rem;
      border: solid 1px #f0f0f0;
      background: #ffffff;
      text-align: center;
      font-weight: 200; }
      .wrap .themes-box .current-tag a {
        color: #666666; }
  .wrap .edit-travel {
    position: fixed;
    bottom: 10%;
    right: 0.6rem;
    z-index: 99;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url("../images/icon/btn_price@2x.png") no-repeat;
    background-size: 100%; }

/*night start*/
.night {
  background: #2f2f2f; }
  .night .focus .hd .on {
    background: #2f2f2f; }
  .night .opinion {
    background: #5c5c5c;
    border: solid 1px #252525;
    color: #333333; }
    .night .opinion:before {
      content: '';
      background: url("../images/icon/icon-opinion-night.png") center no-repeat;
      background-size: 100%;
      position: absolute;
      top: 0.3rem;
      left: 0.5rem;
      width: 0.7rem;
      height: 0.7rem; }
  .night .themes {
    overflow: hidden;
    padding-bottom: 0.75rem;
    background: #2f2f2f; }
  .night .recommend {
    background: #252525; }
    .night .recommend li a {
      color: #999999; }
  .night .best-travel {
    background: #252525; }
    .night .best-travel .best-item {
      background: #2f2f2f;
      border-bottom: solid 1px #252525; }
  .night .themes-box {
    background: #2f2f2f; }
    .night .themes-box .head-title {
      border-bottom: solid 1px #252525; }
    .night .themes-box .title {
      font-size: 0.7rem;
      color: #848484; }
    .night .themes-box .tags-usual-box {
      border-bottom: solid 1px #252525; }
      .night .themes-box .tags-usual-box .common-tags li {
        border: solid 0.5px #252525;
        background: #363636; }
    .night .themes-box .current-tag {
      border: solid 1px #252525;
      background: #363636; }
    .night .themes-box .tags-box .tags-list .tag {
      border: solid 0.5px #252525;
      background: #363636; }
      .night .themes-box .tags-box .tags-list .tag a {
        background: #363636; }
  .night .best-travel .best-main .best-title, .night .best-travel .best-main .travel-title, .night .best-travel .travel-main .best-title, .night .best-travel .travel-main .travel-title, .night .travel-list .best-main .best-title, .night .travel-list .best-main .travel-title, .night .travel-list .travel-main .best-title, .night .travel-list .travel-main .travel-title {
    color: #848484; }
    .night .best-travel .best-main .best-title a:visited, .night .best-travel .best-main .travel-title a:visited, .night .best-travel .travel-main .best-title a:visited, .night .best-travel .travel-main .travel-title a:visited, .night .travel-list .best-main .best-title a:visited, .night .travel-list .best-main .travel-title a:visited, .night .travel-list .travel-main .best-title a:visited, .night .travel-list .travel-main .travel-title a:visited {
      color: #555555; }

/*night end*/
