@charset "utf-8";
@import "lib/reset.css";
@import "lib/common";

.wrap{
	.opinion-area{
		width: 100%;
		padding: 0.75rem;
    	min-height: 25rem;
    	@include box-sizing;
    	outline:none;
		word-break: break-all;
		font-size: 0.7rem;
	}
}