<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>文章列表页</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"><meta content="telephone=no" name="format-detection">
    <script src="../js/lib/zepto.min.js"></script>
    <link rel="stylesheet" href="../css/article-list.css">
  </head>
<body>
	<div class="wrap article-list">
		<h4 class="current-tag">主题</h4>
        <!--travel-list start 小图游记 下拉加载-->
        <div class="travel-list">
            <div class="travel-item">
              <dl class="travel-main">
                <dt class="travel-img">
                  <img src="../images/5.jpg">
                </dt>
                <dd class="travel-title">
                  <a href="detail.html">一场不插电的旅行 阿根廷环形三天游</a>
                </dd>
                <dd class="travel-time-num">
                  <ul class="tags-list colors">
                    <li>境外</li>
                    <li>蜜月</li>
                  </ul>
                  <span class="travel-time">2015-04-08</span>
                  <span class="travel-num">
                    <em class="num">34.1万</em>回帖
                  </span>
                </dd>
              </dl>
            </div>

            <div class="travel-item">
              <dl class="travel-main">
                <dt class="travel-img">
                  <img src="../images/5.jpg">
                </dt>
                <dd class="travel-title">
                  <a href="detail.html">一场不插电的旅行 阿根廷环形三天游</a>
                </dd>
                <dd class="travel-time-num">
                  <ul class="tags-list colors">
                    <li>境外</li>
                    <li>蜜月</li>
                  </ul>
                  <span class="travel-time">2015-04-08</span>
                  <span class="travel-num">
                    <em class="num">34.1万</em>回帖
                  </span>
                </dd>
              </dl>
            </div>
        </div>
        <!--travel-list end-->
        <!--filter start-->
        <div class="filter">
          <h4 class="head-title">筛选</h4>
          <h4 class="filter-tag">主题/ 海岛/ 人数/ 独行</h4>
          <ul class="selected">
            <li class="selected-theme">主题</li>
            <li class="selected-tag">
              <a href="choose-tag.html">海岛</a>
            </li>
          </ul>
          <div class="tags-container">
            <div class="tags-box">
                <h4 class="tags-title">人物</h4>
                <ul class="tags-list">
                    <li class="tag">全部</li>
                    <li class="tag">独行</li>
                    <li class="tag">多人</li>
                    <li class="tag">闺蜜游</li>
                    <li class="tag">爸妈游</li>
                    <li class="tag">亲子游</li>
                    <li class="tag">情侣游</li>
                </ul>
            </div>
            <div class="tags-box">
                <h4 class="tags-title">天数</h4>
                <ul class="tags-list">
                    <li class="tag">全部</li>
                    <li class="tag">一日游</li>
                    <li class="tag">3天以下</li>
                    <li class="tag">4-7天</li>
                    <li class="tag">8-14天</li>
                    <li class="tag">15天以上</li>
                </ul>
            </div>
            <div class="tags-box">
                <h4 class="tags-title">目的地</h4>
                <ul class="tags-list">
                    <li class="tag">全部</li>
                    <li class="tag">境内</li>
                    <li class="tag">境外</li>
                    <li class="tag">周边</li>
                    <li class="tag">落地签</li>
                    <li class="tag">免签</li>
                </ul>
            </div>
          </div>
          <div class="total">共12121篇游记</div>
        </div>
        <!--filter end-->
	</div>
  <script src="../js/lib/common.js"></script>
	<script src="../js/article-list.js"></script>
</body>
</html>