<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>主题选择页</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"><meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/zepto.min.js"></script>
    <link rel="stylesheet" href="../css/choose-tag.css">
  </head>
  <body>
	<div class="wrap">
        <a class="head-title" href="article-list.html">主题</a>
		<ul class="tags-box">
            <li class="tag"><a href="article-list.html">全部</a></li>
            <li class="tag"><a href="article-list.html">海岛</a></li>
            <li class="tag"><a href="article-list.html">自驾</a></li>
            <li class="tag"><a href="article-list.html">露营</a></li>
            <li class="tag"><a href="article-list.html">古镇</a></li>
            <li class="tag"><a href="article-list.html">滑雪</a></li>
            <li class="tag"><a href="article-list.html">户外</a></li>
            <li class="tag"><a href="article-list.html">蜜月</a></li>
            <li class="tag"><a href="article-list.html">购物</a></li>
            <li class="tag"><a href="article-list.html">民俗文化</a></li>      
        </ul>
	</div>
	<script src="../js/choose-tag.js"></script>
  </body>
</html>