<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>详情页</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"><meta content="telephone=no" name="format-detection">
    <script src="../js/lib/zepto.min.js"></script>
    <link rel="stylesheet" href="../css/detail.css">
  </head>
<body>
	<div class="wrap">
		<div class="head">
            <div class="title-bar">
                <a class="back-list" href="article-list.html">返回</a>
                <span class="edit-btn"></span>
                <span class="more-btn"></span>
            </div>  
            <div class="item-head">
                <dl class="author">
                    <dt class="author-photo">
                        <img src="../images/2.jpg">
                    </dt>
                    <dd class="author-name">一场不插电的旅行阿根廷六天五夜游十八</dd>
                    <dd class="recommend-tag">Angelababy</dd>
                    <dd class="item-time">2015-04-23</dd>
                </dl>
            </div>   
        </div>
        <div class="head-hide hide">
            <div class="title-bar">
                <span class="title-txt">一场不插电的旅行阿根廷六天五夜游十八</span>
                <span class="edit-btn"></span>
                <span class="more-btn"></span>
            </div>
        </div>
        <div class="main">
            <div class="message-tags">
                <span class="message-time">出发时间：2015-02-12 | 2天</span>
                <span class="message-money">人均：1000-5000元</span>
                <ul class="tags-list">
                    <li class="tag">户外</li>
                    <li class="tag">潜水</li>
                    <li class="tag">一日游</li>
                    <li class="tag">非洲</li>
                </ul>
            </div>
            <div class="article-box">
                <p class="article-txt">田园风光是桂林的一张名片。如果你想去那里，10月，一定要从市区乘车前往桂林市临桂区会县镇。这时候的会仙，稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这一幅仙境般的田园风光简直美得不像话。离开的时候，还可在市集带一只当地特产酱板鸭回家哦。</p>
                <ul class="day-descriptions">
                    <li class="day-item">
                        <h4 class="day-title" id="day1">DAY 1 <span class="day-time">2015-10-23</span></h4>
                        <div class="journey" id="day1journey1">
                            <p class="article-txt">田园风光是桂林的一张名片。如果你想去那里，10月，一定要从市区乘车前往桂林市临桂区会县镇。这时候的会仙，稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这仙境般的田园风光简直美得不像话。</p>
                            <dl class="img-description">
                                <dt class="img">
                                   <img src="../images/1.jpg"> 
                                   <p class="btns">
                                        <span class="zan">2323</span>
                                        <span class="comment">1231</span>
                                   </p>
                                </dt>
                                <dd class="article-txt"></dd>
                                <dd class="time-address">
                                    <p>
                                        <span class="time">2016-04-20  18:00</span>
                                        <span class="address">非洲，纳米比亚，辛巴族</span>
                                    </p>
                                </dd>
                            </dl>
                            <dl class="img-description">
                                <dt class="img">
                                   <img src="../images/1.jpg"> 
                                   <p class="btns">
                                        <span class="zan">2323</span>
                                        <span class="comment">1231</span>
                                   </p>
                                </dt>
                                <dd class="article-txt">
                                    稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这一幅仙境般的田园风光简直美得不像话。
                                </dd>
                                <dd class="time-address">
                                    <p>
                                        <span class="time"></span>
                                        <span class="address"></span>
                                    </p>
                                </dd>
                            </dl>
                        </div>
                        <div class="journey" id="day1journey2">
                            <dl class="img-description">
                                <dt class="img">
                                   <img src="../images/1.jpg"> 
                                   <p class="btns">
                                        <span class="zan">2323</span>
                                        <span class="comment">1231</span>
                                   </p>
                                </dt>
                                <dd class="article-txt">
                                    稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这一幅仙境般的田园风光简直美得不像话。
                                </dd>
                                <dd class="time-address">
                                    <p>
                                        <span class="time">2016-04-20  18:00</span>
                                        <span class="address">非洲，纳米比亚，辛巴族</span>
                                    </p>
                                </dd>
                            </dl>
                            <dl class="img-description">
                                <dt class="img">
                                   <img src="../images/1.jpg"> 
                                   <p class="btns">
                                        <span class="zan">2323</span>
                                        <span class="comment">1231</span>
                                   </p>
                                </dt>
                                <dd class="article-txt">
                                    稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这一幅仙境般的田园风光简直美得不像话。
                                </dd>
                                <dd class="time-address">
                                    <p>
                                        <span class="time">2016-04-20  18:00</span>
                                        <span class="address">非洲，纳米比亚，辛巴族</span>
                                    </p>
                                </dd>
                            </dl>
                            <p class="article-txt">田园风光是桂林的一张名片。如果你想去那里，10月，一定要从市区乘车前往桂林市临桂区会县镇。这时候的会仙，稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这仙境般的田园风光简直美得不像话。</p>
                        </div>
                    </li>
                    <li class="day-item">
                        <h4 class="day-title" id="day2">DAY 2 <span class="day-time">2015-10-23</span></h4>
                        <div class="journey" id="day2journey1">
                            <p class="article-txt">田园风光是桂林的一张名片。如果你想去那里，10月，一定要从市区乘车前往桂林市临桂区会县镇。这时候的会仙，稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这仙境般的田园风光简直美得不像话。</p>
                            <dl class="img-description">
                                <dt class="img">
                                   <img src="../images/1.jpg"> 
                                   <p class="btns">
                                        <span class="zan">2323</span>
                                        <span class="comment">1231</span>
                                   </p>
                                </dt>
                                <dd class="article-txt">
                                    稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这一幅仙境般的田园风光简直美得不像话。
                                </dd>
                                <dd class="time-address">
                                    <p>
                                        <span class="time">2016-04-20  18:00</span>
                                        <span class="address">非洲，纳米比亚，辛巴族</span>
                                    </p>
                                </dd>
                            </dl>
                            <dl class="img-description">
                                <dt class="img">
                                   <img src="../images/1.jpg"> 
                                   <p class="btns">
                                        <span class="zan">2323</span>
                                        <span class="comment">1231</span>
                                   </p>
                                </dt>
                                <dd class="article-txt">
                                    稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这一幅仙境般的田园风光简直美得不像话。
                                </dd>
                                <dd class="time-address">
                                    <p>
                                        <span class="time">2016-04-20  18:00</span>
                                        <span class="address">非洲，纳米比亚，辛巴族</span>
                                    </p>
                                </dd>
                            </dl>
                        </div>
                        <div class="journey" id="day2journey2">
                            <dl class="img-description">
                                <dt class="img">
                                   <img src="../images/1.jpg"> 
                                   <p class="btns">
                                        <span class="zan">2323</span>
                                        <span class="comment">1231</span>
                                   </p>
                                </dt>
                                <dd class="article-txt">
                                    稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这一幅仙境般的田园风光简直美得不像话。
                                </dd>
                                <dd class="time-address">
                                    <p>
                                        <span class="time">2016-04-20  18:00</span>
                                        <span class="address">非洲，纳米比亚，辛巴族</span>
                                    </p>
                                </dd>
                            </dl>
                            <dl class="img-description">
                                <dt class="img">
                                   <img src="../images/1.jpg"> 
                                   <p class="btns">
                                        <span class="zan">2323</span>
                                        <span class="comment">1231</span>
                                   </p>
                                </dt>
                                <dd class="article-txt">
                                    稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这一幅仙境般的田园风光简直美得不像话。
                                </dd>
                                <dd class="time-address">
                                    <p>
                                        <span class="time">2016-04-20  18:00</span>
                                        <span class="address">非洲，纳米比亚，辛巴族</span>
                                    </p>
                                </dd>
                            </dl>
                            <p class="article-txt">田园风光是桂林的一张名片。如果你想去那里，10月，一定要从市区乘车前往桂林市临桂区会县镇。这时候的会仙，稻田成熟，一片金黄，连着远处峰林奇特的高山，白色村落散落期间，这仙境般的田园风光简直美得不像话。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <p class="mask hide"></p>
        <div class="foot hide">
            <div class="more-list hide">
                <dl class="day">
                    <dt class="day-tit active">
                        <a data-href="#day1" href="day1">DAY 1</a>
                    </dt>
                    <dd class="day-con">
                        <a data-href="#day1journey1" href="day1journey1">
                            <em>行程一</em>
                            <span>长城；香山；</span>
                        </a>
                    </dd>
                    <dd class="day-con">
                        <a data-href="#day1journey2" href="day1journey2">
                            <em>行程二</em>
                            <span>鸟巢；水立方；奥林匹克公园；故宫；</span>
                        </a>
                    </dd>
                </dl>
                <dl class="day">
                    <dt class="day-tit">
                        <a data-href="#day2" href="day2">DAY 2</a>
                    </dt>
                    <dd class="day-con">
                        <a data-href="#day2journey1" href="day2journey1">
                            <em>行程二</em>
                            <span>长城；香山；</span>
                        </a>
                    </dd>
                    <dd class="day-con">
                        <a data-href="#day2journey2" href="day2journey2">
                            <em>行程一</em>
                            <span>鸟巢；水立方；奥林匹克公园；故宫；</span>
                        </a>
                    </dd>
                </dl>
            </div>
            <ul class="edit-list hide">
                <li class="edit-item">编辑</li>
                <li class="delete-item">删除</li>
            </ul>
            <p class="cancel hide">取消</p>
        </div>
	</div>
    <script src="../js/lib/common.js"></script>
	<script src="../js/detail.js"></script>
</body>
</html>