<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="keywords" content="管理标签">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/zepto.min.js"></script>
    <script src="../js/lib/TouchSlide.1.1.js"></script>
    <link rel="stylesheet" href="../css/error.css">
  </head>
  <body>
  	<div class="wrap error">
	    <img src="../images/error.png">
      <p>放下手机和我们一起去旅行吧~</p>
	  </div>
    <script src="../js/lib/common.js"></script>
  </body>
</html>