<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <meta name="keywords" content="个人中心">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <script src="../js/lib/zepto.min.js"></script>
    <link rel="stylesheet" href="../css/personal.css">
  </head>
  <body>
  	<div class="wrap">
	    <div class="title-bar">
          <a class="back" href="article-list.html">返回</a>
          我的游记
      </div>
      <ul class="personal_article-list">
        <li>
          <h4 class="article_title">京城平谷自驾游</h4>
          <span class="edit">编辑</span>
          <p>
            <span class="time">2016-03-23 12:34</span>
            <span class="comment">4回</span>
          </p>
        </li>
        <li>
          <h4 class="article_title">京城平谷自驾游</h4>
          <span class="edit">编辑</span>
          <p>
            <span class="time">2016-03-23 12:34</span>
            <span class="comment">4回</span>
          </p>
        </li>
        <li>
          <h4 class="article_title">京城平谷自驾游</h4>
          <span class="edit">编辑</span>
          <p>
            <span class="time">2016-03-23 12:34</span>
            <span class="comment">4回</span>
          </p>
        </li>
        <li>
          <h4 class="article_title">京城平谷自驾游</h4>
          <span class="edit">编辑</span>
          <p>
            <span class="time">2016-03-23 12:34</span>
            <span class="comment">4回</span>
          </p>
        </li>
      </ul>
      <p class="num">共5篇游记</p>
	  </div>
  </body>
</html>